__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
Thumbs.db
# 👇 evita subir credenciales y salidas locales
.env
.env.*
!/.env.example

salida/*.csv
salida/*.parquet
salida/*.xlsx
.vscode/
.idea/
*.log

